// 색상 영역
// $color-main: #161618;
$color-main: #121212;
$color-main-transparent: #f7c53b4d;
$color-main-light: #e4e2dc;
$color-main-dark: #dda408;
$color-devider: #ededed;
// main
main {
  margin-top: 80px;
  padding: 20px;
}
h2 {
  font-size: 7em;
}
