@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@media all and (min-width:801px){
.about_mo{
    display: none;
}
*{
    padding: 0;
    margin: 0;
    /* transition-duration: 0.5s; */
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    font-size: 50px;
    position: relative;
    overflow-x: hidden;
    background: black;
}
.bg_wrap{
    width: 100%;
    height: 600vh;
    background: url(../img/1.jpg);
    display: none;
}
.wrap{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 130%;
    
}
/* .box{
    width: 500px;
    height: 500px;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;

} */
.logo{
    width: 5vw;
    height: 50px;
    position: absolute;
    top: 0%;
    left:1%;
    z-index: 999;
  }
  .menu_wrap{
    width: 100%;
    height: 100vh;
    background: white;
    opacity: 0.8;
    padding-top: 5%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.menu{
    display: block;
    width: 100%;
    color: black;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: 'Prompt', sans-serif;
}
.menu:hover{
    color: white;
    /* border: 2px solid #F07339; */
    -webkit-text-stroke:3px #F07339;
}
  .toggle {
    width: 40px;
    height: 30px;
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0.5%;
    right: 2%;
    z-index: 999999;
  }
  .toggle span {
    display: block;
    background: #FFF;
    width: 40px;
    height: 3px;
    border-radius: 2px;
    transition: 0.25s margin 0.25s, 0.25s transform;
  }
  .toggle span:nth-child(1) {
      margin-bottom: 8px;
  }
  .toggle span:nth-child(3) {
      margin-top: 8px;
  }
  .toggle.active span {
      transition: 0.25s margin, 0.25s transform 0.25s;
      background: black;
  }
  .toggle.active span:nth-child(1) {
    margin-top: 8px;
    margin-bottom: -4px;
      transform: rotate(45deg);
  }
  .toggle.active span:nth-child(2) {
      transform: rotate(45deg);
  }
  .toggle.active span:nth-child(3) {
    margin-top: -4px;
      transform: rotate(135deg);
  }
  
section{
    width: 100%;
    height: 51vw;
    /* background: black; */
    position: relative;
    /* border: 1px solid black; */
    box-sizing: border-box;
    transition-duration: 3s;
}
.left_but{
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 1%;
    margin-top: -75px;
    transform: scale(1);
    transition-duration: 1s;
    display: none;
  }
  
.left_but:hover{
    /* animation-play-state:paused; */
    transform: scale(0.9);
}

.about_text_box{
    width: 45%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
.about_img_box{
    width: 60%;
    height: 100%;
    position: absolute;
    padding-top: 2%;
}
section:nth-child(3)>.about_img_box,section:nth-child(5)>.about_img_box,section:nth-child(7)>.about_img_box{
    right: 0;
}
section:nth-child(2)>.about_text_box,section:nth-child(4)>.about_text_box,section:nth-child(6)>.about_text_box{
    right: 0;
}
.box1>img{
    position: absolute;
    top: 50%;
    margin-top: -30%;
    left: 10%;
}
.box>img{
    position: absolute;
    top: 50%;
    margin-top: -30%;
    right: 10%;
}
.vfx{
    width: 100%;
    height: 80%;
    margin-top: 10%;
    padding: 25% 15%;
    box-sizing: border-box;
}
.about_main{
    width: 100%;
    height: 50px;
    color: #fd6a3a;
    font-size: 52px;
    line-height: 50px;
    font-weight: 900;
}
.about_text{
    margin-top: 7%;
    width: 100%;
    height: 500px;
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
    line-height: 24px;
}
.scroll_img{
    width: 50px;
    position: fixed;
    bottom: 5%;
    left: 50%;
    margin-left: -25px;
    display: none;
}
}