main {
  .inner {
    .content-wrap {
      border: 3px solid rgb(23, 110, 38);
      background-color: rgb(224, 255, 224);

      .content-flex-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        gap: 40px;

        .content {
          display: flex;
          flex-flow: column;
          gap: 5px;
          .img-box {
            width: 250px;
            height: 100px;
            background-color: rgb(242, 253, 246);
            border-radius: 10px;
          }
          .tag-box {
            .tag {
              color: #fff;
              padding: 0 5px;
              font-size: 0.85em;
              display: inline-block;

              &.gsap {
                background-color: green;
              }
              &.scrolltrigger {
                background-color: rgb(255, 208, 0);
              }
              &.scrollspy {
                background-color: rgb(89, 201, 195);
              }
              &.text {
                background-color: rgb(243, 86, 209);
              }
              &.grid {
                background-color: rgb(255, 123, 0);
              }
              &.figma {
                background-color: rgb(130, 132, 248);
              }
            }
          }
        }
      }
    }
  }
}
