@font-face {
  font-family: "font";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/OakesGrotesk-Semi-Bold.woff.woff2") format("woff2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/OakesGrotesk-Semi-Bold.woff.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
html, body {
  height: 100%;
  font-family: "helvetica neue";
  transition-duration: 0.5s;
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  background: url(../img/1.jpg);
}

h1, h2 {
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

figure {
  padding: 0;
  margin: 0;
}
.bg_wrap{
  width: 100%;
  /* height: 100%; */
  background: url(../img/1.jpg);
  display: none;
}
.scroll {
  cursor: -webkit-grab;
  cursor: grab;
  /* background: url(../img/1.jpg);
  opacity: 0;
  transition-property: 6s; */
}

.menu:hover{
  color: white;
  /* border: 2px solid #F07339; */
  -webkit-text-stroke:3px #F07339;
}
.toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  display: block;
  cursor: pointer;
  top: 2%;
  right: 2%;
  z-index: 999999;
}
.toggle span {
  display: block;
  background: #FFF;
  width: 40px;
  height: 3px;
  border-radius: 2px;
  transition: 0.25s margin 0.25s, 0.25s transform;
}
.toggle span:nth-child(1) {
    margin-bottom: 8px;
}
.toggle span:nth-child(3) {
    margin-top: 8px;
}
.toggle.active span {
    transition: 0.25s margin, 0.25s transform 0.25s;
    background: black;
}
.toggle.active span:nth-child(1) {
  margin-top: 8px;
  margin-bottom: -4px;
    transform: rotate(45deg);
}
.toggle.active span:nth-child(2) {
    transform: rotate(45deg);
}
.toggle.active span:nth-child(3) {
  margin-top: -4px;
    transform: rotate(135deg);
}

.scroll-content {
  display: flex;
  white-space: nowrap;
  position: relative;
  height: 100vh;
}
.scroll-content--last {
  position: absolute;
  top: 0;
  left: 0;
}

.hi {
  position: fixed;
  bottom: 2vw;
  left: 2vw;
  color: #fff;
  font-size: 1vw;
  z-index: 999;
  text-decoration: none;
}



.filter {
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.filter__list {
  display: flex;
}
.filter__item {
  display: block;
}
.filter__link {
  position: relative;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 0 1.5vw;
  font-size: 1.15vw;
  overflow: hidden;
}
.filter__link-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #111;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.75s ease;
  z-index: 2;
}
.filter__link-mask span {
  display: block;
  padding: 0 1.5vw;
  font-size: 1.15vw;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.75s ease;
  color: #fff;
}
.filter__link:hover .filter__link-mask span, .filter__link.is-active .filter__link-mask span {
  transform: translate3d(0, 0, 0);
}
.filter__link:hover .filter__link-mask, .filter__link.is-active .filter__link-mask {
  transform: translate3d(0, 0, 0);
}
.slide--1 {
  align-items: flex-start;
}
.slide--2 {
  align-items: flex-end;
}
.slide--3 {
  align-items: center;
}

.slide__img figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__img figure img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.scrollbar__handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #F07339;
}

.mask {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}
.mask__slice {
  flex: 1;
  background-color: #000;
}
.mask__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.mask-line {
  position: relative;
  transform-origin: left;
  width: 20rem;
  height: 2px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.25);
  visibility: hidden;
  opacity: 0;
}
.mask-line__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: left;
}

.resize {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
}
.resize__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.resize span {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 800px) {
  .resize {
    display: block;
  }
}
@media (max-height: 600px) {
  .resize {
    display: block;
  }
}
.box{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 999999;
}

.video_box{
  width: 70vw;
  height: 80vh;
  position: fixed;
  top: 7vh;
  left: 15vw;
  z-index: 999999;;
  /* background: red; */
  display: none;
  /* background: white; */
  overflow: hidden;
}
.close_but{
  float: right;
  cursor: pointer;
  font-size: 40px;
  margin-top: 2%;
}
.video_box>video,.video_box>img{
  width: 100%;
}