@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
  line-height: 1.4;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

body {
  font-family: sans-serif;
}

header {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
header .main_logo {
  justify-self: center;
  grid-column: 2;
}
header .sign_area {
  justify-self: end;
  grid-column: 3;
  display: flex;
  gap: 20px;
}

/* 배너 영역 */
.banner {
  width: 100%;
  height: 600px;
  background: thistle;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.ban_con:nth-child(1) {
  display: block;
  background-image: url(../images/ban_treatz.png);
}

.ban_con:nth-child(2) {
  background-image: url(../images/jewde.png);
}

.ban_con:nth-child(3) {
  background-image: url(../images/stay.png);
}

.ban_con:nth-child(4) {
  background-image: url(../images/mood.png);
}

.ban_con:nth-child(5) {
  background-image: url(../images/bill.png);
}

.ban_con {
  width: 100%;
  height: 100%;
  /* float: left; */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ban_con_text_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 50px;
  box-sizing: border-box;
}

.ban_logo {
  width: 100%;
  height: 70px;
  font-size: 46px;
  padding-left: 50px;
  box-sizing: border-box;
  line-height: 70px;
  color: #000000;
  position: absolute;
  top: 30px;
}

.care_text_wrap {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 30px;
  padding-left: 50px;
}

.care_text_1 {
  height: 80px;
  font-size: 52px;
  line-height: 80px;
  color: #131313;
  font-weight: 700;
}

.care_text_2 {
  height: 90px;
  display: flex;
  justify-content: left;
  line-height: 90px;
}

.care_text_2_1 {
  font-size: 56px;
  font-weight: 900;
  color: rgb(217, 154, 78);
}

.care_text_2_2 {
  font-size: 56px;
  margin-left: 15px;
  color: #131313;
  font-weight: 600;
}

.care_text_3 {
  height: 90px;
  font-size: 56px;
  line-height: 90px;
  font-weight: 900;
  color: rgb(217, 154, 78);
}

/* 쥬드주얼리 */
.jewde {
  width: 100%;
  height: 100px;
  padding-left: 50px;
  box-sizing: border-box;
  margin-top: 40px;
}

.j_line {
  width: 300px;
  height: 1px;
  background: #af9a5e;
  margin-top: 5px;
}

.j_event_1,
.j_event_2 {
  width: 300px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.jewde_2 {
  height: 120px;
  font-size: 60px;
  font-weight: 900;
}

.jewde_3 {
  height: 120px;
  margin-top: 100px;
}

.jewde_3_1 {
  height: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
}

.jewde_3_2 {
  height: 30px;
  line-height: 35px;
}

.jewde_3_3 {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}

/* 스테이 윤 */
.stay_1 {
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

.stay_event {
  width: 150px;
  height: 50px;
  border: 2px solid #50462c;
  border-radius: 60px;
  text-align: center;
  line-height: 50px;
  color: #50462c;
}

.stay_2 {
  width: 100%;
  height: 50px;
  margin-top: 170px;
  font-size: 20px;
  color: #50462c;
}

.stay_3 {
  height: 190px;
  font-size: 60px;
  font-weight: 900;
  color: #50462c;
}

.stay_4 {
  height: 50px;
  font-size: 22px;
  color: #50462c;
}

/* 무드 */
.mood_1 {
  width: 100%;
  height: 50px;
}

.mood_1_1 {
  width: 400px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid tomato;
  border-radius: 50px;
  color: tomato;
  margin-top: 80px;
  font-size: 18px;
}

.mood_2 {
  height: 40px;
  line-height: 40px;
  color: tomato;
  font-size: 40px;
  font-weight: 900;
  margin-top: 85px;
}

.mood_3 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: left;
  line-height: 110px;
}

.big_text {
  width: 450px;
  color: tomato;
  font-size: 100px;
  font-weight: 900;
}

.small_text {
  width: 150px;
  height: 110px;
  line-height: 110px;
  font-size: 22px;
  color: tomato;
  font-weight: 700;
}

.mood_4 {
  height: 40px;
  line-height: 40px;
  color: tomato;
  font-size: 20px;
  font-weight: 500;
}

.mood_5 {
  color: white;
  margin-top: 50px;
}

/* 빌리언즈 */
.bill_1 {
  color: white;
  width: 100%;
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-weight: 700;
  font-size: 32px;
  margin-top: 80px;
}

.bill_2 {
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 130px;
  height: 140px;
  line-height: 140px;
}

.bill_3 {
  color: white;
  font-size: 28px;
  margin-top: 150px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
}

.bill_4 {
  color: white;
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
}

/* 메인 영역 */
.top_sec {
  display: flex;
}

/* 왼쪽 */
.side {
  width: 300px;
  padding: 20px;
  background-image: url(../images/flower.png);
  background-repeat: repeat-y;
  background-size: contain;
}

.side_inner {
  position: sticky;
  top: 0;
  height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.side_inner a {
  display: block;
}
.side_inner .my_pick {
  font-size: 16px;
  width: 100%;
}
.side_inner .my_pick .my_pick_con {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  width: 100%;
}
.side_inner .my_pick .my_pick_con .my_pick_left {
  font-weight: 600;
  width: 100px;
}
.side_inner .my_pick .my_pick_con .my_pick_right {
  width: calc(100% - 100px);
}
.side_inner .my_pick_sub_wrap {
  display: flex;
  gap: 10px;
  width: 100%;
}
.side_inner .my_pick_sub_wrap a {
  width: 50%;
}
.side_inner .my_pick_sub_wrap a .wedding_card_text {
  font-size: 16px;
}

/* 오른쪽 */
.content {
  flex: 1;
  min-width: 0;
}
.content .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  padding: 20px;
}
.content .box .box_title_wrap {
  padding: 30px;
}
.content .box .box_title_wrap h3 {
  font-family: "Abril Fatface", cursive;
  color: #af9a5e;
  font-size: 50px;
}
.content .box .swiper {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.content .box .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.content .box .swiper .swiper-slide .img_box {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/3;
  overflow: hidden;
}
.content .box .swiper .swiper-slide .txt_box {
  padding: 20px;
  flex: 1;
}
.content .box .swiper .swiper-slide .txt_box .hall_name {
  text-align: center;
}
.content .box .swiper .swiper-slide .txt_box .hall_address {
  font-size: 0.75em;
  text-align: center;
}
.content .box .swiper .swiper-slide .txt_box .hall_line {
  width: 100%;
  height: 1px;
  background: #b9b9b9;
  margin: 10px auto;
}
.content .box .swiper .swiper-slide .txt_box .hall_info {
  font-size: 0.75em;
}
.content .box .swiper .swiper-slide .txt_box .hall_info .hall_info_inbox {
  position: relative;
  padding-left: 25px;
}
.content .box .swiper .swiper-slide .txt_box .hall_info .hall_info_inbox::before {
  content: "";
  background-image: url(../images/checkbox.png);
  position: absolute;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-44%);
  background-size: contain;
}
.content .box .swiper .swiper-slide button {
  margin-top: auto;
  margin-bottom: 20px;
}
.content .box .button_wrap {
  line-height: 1;
  margin: 40px auto;
}
.content .box .button_wrap .view_more_btn {
  font-size: 26px;
  border: 2px solid #af9a5e;
  padding: 5px 15px 10px;
  display: block;
  color: #af9a5e;
  background-color: #fff;
}
.content .box .button_wrap .view_more_btn:hover {
  transition: 0.5s ease;
  background-color: #af9a5e;
  color: #fff;
}
.content .box2 .swiper .swiper-wrapper .swiper-slide .txt_box .hall_info {
  min-height: 30px;
}
.content .box3 .swiper .swiper-slide {
  position: relative;
}
.content .box3 .swiper .swiper-slide .img_box {
  aspect-ratio: unset;
}
.content .box3 .swiper .swiper-slide .txt_box {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -20%;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.content .box3 .swiper .swiper-slide .txt_box .hall_info {
  min-height: 30px;
}
.content .box3 .swiper .swiper-slide button {
  position: absolute;
  bottom: 0px;
}

/* 바텀 섹션 영역 */
.bottom_sec {
  position: relative;
}
.bottom_sec .move_line {
  height: 150px;
  display: flex;
  align-items: center;
}
.bottom_sec .flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
  font-size: 2.2rem;
  font-weight: bold;
}
.bottom_sec .flow-text:hover {
  color: #ffffff;
}
.bottom_sec .flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
}
.bottom_sec .flow-wrap {
  animation: textLoop 17s linear infinite;
  padding-right: 1.4881vw;
  color: #af9a5e;
  letter-spacing: 1.5px;
  margin-top: 30px;
}
@keyframes textLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.bottom_sec {
  /* 리뷰 / 팁 */
}
.bottom_sec .review_wrap {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
}
.bottom_sec .review_event {
  width: 436px;
  flex-shrink: 0;
}
.bottom_sec .tip_wrap {
  width: calc(100% - 420px);
}
.bottom_sec .tip_wrap .tip_box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.bottom_sec .tip_wrap .tip {
  width: 210px;
  aspect-ratio: 1/1;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  position: relative;
  flex-shrink: 0;
}
.bottom_sec .tip_wrap .tip > div {
  position: absolute;
}
.bottom_sec .tip_wrap .tip_text {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  word-break: keep-all;
  font-weight: 600;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.bottom_sec .tip_wrap .tip_img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.bottom_sec .tip_wrap .tip_img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}
.bottom_sec .tip_wrap .tip:hover {
  border-radius: 235px;
}
.bottom_sec .tip_wrap .tip:hover .tip_img > img {
  opacity: 0.5;
  transition-duration: 1s;
}
/* 푸터 */
footer {
  background: #af9a5e;
  padding: 30px 50px;
}

.com_name > img {
  width: 50px;
}/*# sourceMappingURL=re_wedding.css.map */