@charset "UTF-8";
button {
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

/* 헤더 영역 */
header {
  /* width: 100vw; */
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 239, 247, 0.5);
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

.main_logo {
  width: 260px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  margin-left: 20px;
}

.main_logo > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu_wrap {
  /* width: 64.4%; */
  /* width: calc(100% - 260px - 280px); */
  width: calc(80% - 260px);
  height: 100%;
}

.main_menu_wrap {
  /* width: 73%; */
  width: 50vw;
  height: 100%;
  margin: 0 auto;
  line-height: 100px;
  display: flex;
  justify-content: space-between;
}

.main_menu {
  /* width: 20%; */
  height: 100%;
  text-align: center;
  float: left;
  font-weight: 600;
  font-size: 18px;
}

/* 서브메뉴 영역 */
.sub_menu_wrap {
  /* width: 100vw; */
  width: 100%;
  height: 0;
  /* background: rgb(230, 230, 230); */
  background-color: #a7a9ac;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.menu_wrap:hover .sub_menu_wrap {
  height: 700px;
  transition-duration: 1s;
}

.all_on {
  height: 700px;
  transition-duration: 1s;
}

.sub_menu_top {
  /* width: 100%; */
  /* width: calc(100% - 260px - 280px); */
  width: calc(80% - 260px);
  height: 400px;
  /* padding: 1% 20%; */
  /* box-sizing: border-box; */
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}

.sub_menu_box {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 50px;
}

.sub_menu_main {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-weight: 600;
}

.sub_menu_inwrap a:hover {
  color: #005936;
  font-weight: 600;
}

.sub_menu {
  width: 100%;
  height: 50px;
}

.sub_menu_bottom {
  width: 100%;
  height: 300px;
  padding: 0 20%;
  box-sizing: border-box;
  border-top: 1px solid rgb(192, 192, 192);
  padding: 2% 10%;
  box-sizing: border-box;
}

.sub_img_box_wrap {
  display: flex;
  justify-content: left;
  height: 200px;
}

.sub_img_box {
  width: 25%;
  height: 100%;
  background: lightskyblue;
  /* float: left; */
  margin: 0 2%;
}

.sub_img_box:nth-child(1) {
  background: url(../images/market.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.sub_img_box:nth-child(2) {
  background: url(../images/market_2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.sub_img_box:nth-child(3) {
  background: url(../images/healing.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.sub_img_box:nth-child(4) {
  background: url(../images/healing_2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.sub_join_wrap {
  display: none;
}

/* .bottom_box{
    width: 50%;
    height: 100%;
    background: wheat;
    float: left;
    padding: 3% 1%;
    box-sizing: border-box;
    position: relative;
}
.bb_img_box{
    width: 60%;
    height: 100%;
    background: blue;
    position: absolute;
    left: 0;
    overflow: hidden;
}
.bottom_box:nth-child(1) .bb_img_box{

}
.bottom_box:nth-child(2) .bb_img_box{

}
.bb_text_box{
    width: 40%;
    height: 100%;
    background: white;
    position: absolute;
    right: 0;
} */
/* 로그인, 회원가입 */
.join_wrap {
  width: 20%;
  /* width: 280px; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 5.2vw;
  text-align: center;
  padding-right: 5px;
  box-sizing: border-box;
}

.join_box {
  width: calc(100% - 4vw);
  height: 100%;
  font-size: 16px;
  line-height: 100px;
}

.join_box:nth-child(1) {
  text-align: right;
}

.all_menu {
  width: 100px;
  height: 100%;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.all_menu img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 배너 영역 */
.banner {
  height: 41.9vw;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  position: relative;
  margin-bottom: 7.8%;
  background-image: url(../images/main2024_2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 100px;
}

.open_info_mo {
  display: none;
}

.open_info {
  width: 20.8%;
  height: 37.5%;
  background: rgb(140, 175, 176);
  position: absolute;
  right: 4%;
  bottom: -6%;
  text-align: center;
  color: white;
  padding: 1.5%;
  box-sizing: border-box;
}

.open_main_text {
  font-size: 0.9vw;
}

.date_en {
  width: 70%;
  height: 2vw;
  background: white;
  color: rgb(140, 175, 176);
  margin: 0 auto;
  line-height: 2vw;
  margin-top: 4%;
  border-radius: 20px;
  font-size: 1.2vw;
}

.date_ko {
  font-size: 1vw;
  margin-top: 2%;
}

.time {
  font-size: 0.9vw;
  margin-top: 2%;
}

.o_info {
  font-size: 0.8vw;
  margin-top: 2%;
}

/* 섹션 영역 */
.content_wrap {
  width: 100%;
  overflow: hidden;
}

.content {
  width: 75vw;
  margin: 0 auto;
  margin-top: 5.2vw;
}

@media (min-width: 1501px) and (max-width: 1700px) {
  .content {
    width: 85vw;
    transition-duration: 1s;
  }
}
@media (min-width: 1023px) and (max-width: 1500px) {
  .content {
    width: 90vw;
    transition-duration: 1s;
  }
}
.content_topic {
  width: 100%;
}

.topic {
  width: 100%;
  display: flex;
  justify-content: left;
  font-size: 2rem;
  padding: 1%;
  box-sizing: border-box;
  color: #333333;
}

.topic span {
  margin-left: 2%;
  letter-spacing: 3px;
  font-size: 0.8em;
  line-height: 185%;
  color: rgb(32, 93, 59);
}

.topic_detail {
  width: 100%;
  padding-left: 1.2%;
  box-sizing: border-box;
  color: #999999;
}

.content_con {
  width: 87%;
  margin: 0 auto;
  margin-top: 20px;
}

/* 소개 영역 */
.info_content {
  display: flex;
  justify-content: space-between;
}

.info_img_wrap {
  width: 30%;
  overflow: hidden;
  left: 0;
  top: 0;
}

.info_img_wrap > img {
  scale: 1.4;
  margin-top: 8%;
}

.info_text_wrap {
  width: 70%;
  right: 0;
  top: 15%;
  text-align: center;
  background: rgba(198, 228, 255, 0.9058823529);
  position: relative;
}
.info_text_wrap .info_text_con {
  padding: 2.5vw;
  box-sizing: border-box;
  width: 110%;
  position: absolute;
  right: 0;
  z-index: 99;
  background: rgba(198, 228, 255, 0.9058823529);
  top: 50%;
  transform: translateY(-50%);
}

.info_main_text {
  color: rgb(42, 156, 133);
  font-size: 1.4rem;
}

/* 체험영역 */
.ex_back {
  background-image: url(../images/ex_back.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

.ex_box {
  /* border: 1px solid black;
  box-sizing: border-box; */
  position: relative;
  width: 25%;
}

.ex_img_box {
  width: 100%;
  height: 600px;
  height: 29vw;
}

.ex_img_box > img {
  width: 80%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* 관광안내 영역 */
.tour_info_wrap {
  display: grid;
  grid-template-columns: 25%;
  grid-template-rows: 100%;
  margin: 0 auto;
}

.tour_info {
  /* border: 2px solid black;
  box-sizing: border-box; */
  position: relative;
}

.tour_info_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.tour_info_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.tour_info_3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.tour_info_4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* 관광안내 내용 */
.ti_box_1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ti_box_2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.tour_info:hover .ti_box_1 {
  display: none;
}

.tour_info:hover .ti_box_2 {
  display: block;
}

/* 축제 영역 */
.fes_con {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 50%;
}

.fes {
  /* border: 1px solid black;
  box-sizing: border-box; */
  margin: 1.4%;
  overflow: hidden;
}

.fes img {
  scale: 1.17;
  margin-top: 12px;
}

.fes_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.fes_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.fes_3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.fes_4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* 이벤트 영역 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* border: 1px solid black;
  box-sizing: border-box; */
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }
  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }
  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }
  /* .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 16px 20px rgb(32, 93, 59);
  } */
  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }
  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }
  .swiper[dir=rtl] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }
  .swiper[dir=rtl] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}
/* 푸터 영역 */
footer {
  width: 100%;
  border-top: 1px solid rgb(189, 189, 189);
  color: #999999;
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  margin-top: 5.2vw;
}
footer .footerInwrap {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}
footer .footerInwrap .b_logo {
  width: 200px;
  height: 100%;
  padding: 2.8% 0.5%;
  box-sizing: border-box;
  filter: grayscale(1);
}
footer .footerInwrap .f_line_wrap {
  width: calc(100% - 240px);
  height: 100%;
  box-sizing: border-box;
}
footer .footerInwrap .f_line {
  width: 100%;
  height: 22px;
  line-height: 22px;
}
footer .footerInwrap .f_line:nth-child(4), footer .footerInwrap .f_line:nth-child(6) {
  height: 10px;
}
footer .footerInwrap .f_line:nth-child(7) {
  font-size: 0.9rem;
  color: #999999;
}
footer .footerInwrap .sns_wrap {
  width: 15%;
  height: 100%;
}

@media all and (max-width: 1024px) {
  /* 헤더 영역 */
  header {
    justify-content: left;
    z-index: 999;
  }
  .main_logo {
    width: 200px;
    padding-left: 2%;
    box-sizing: border-box;
    padding-top: 30px;
  }
  .menu_wrap {
    width: 64.4%;
  }
  .main_menu_wrap {
    width: 90%;
    line-height: 5.2vw;
  }
  .main_menu {
    width: 20%;
    line-height: 100px;
  }
  .main_menu:nth-child(1) {
    width: 16%;
  }
  .main_menu:nth-child(2) {
    width: 15%;
  }
  .main_menu:nth-child(3) {
    width: 23%;
  }
  .main_menu:nth-child(4) {
    width: 25%;
  }
  .main_menu:nth-child(5) {
    width: 21%;
  }
  /* 서브메뉴 영역 */
  .menu_wrap:hover .sub_menu_wrap {
    height: 100vh;
    transition-duration: 1s;
  }
  .all_on {
    height: 100vh;
    transition-duration: 1s;
  }
  .sub_menu_top {
    width: 100%;
    height: 500px;
    padding: 1% 10%;
    box-sizing: border-box;
  }
  .sub_menu_box {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 50px;
  }
  .sub_menu_main {
    width: 100%;
    height: 50px;
  }
  .sub_menu {
    width: 100%;
    height: 50px;
  }
  .sub_menu_bottom {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    border-top: 1px solid rgb(169, 169, 169);
    padding: 4% 10%;
    box-sizing: border-box;
  }
  .sub_img_box_wrap {
    display: flex;
    justify-content: left;
    height: 200px;
  }
  .sub_img_box {
    width: 25%;
    height: 100%;
    background: lightskyblue;
    /* float: left; */
    margin: 0 2%;
  }
  .sub_img_box:nth-child(1) {
    background: url(../images/market.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .sub_img_box:nth-child(2) {
    background: url(../images/market_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .sub_img_box:nth-child(3) {
    background: url(../images/healing.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .sub_img_box:nth-child(4) {
    background: url(../images/healing_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .sub_join_wrap {
    width: 226px;
    margin: 10px auto;
    height: 50px;
  }
  .sub_join_but {
    width: 100px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: none;
  }
  .sub_join_but:nth-child(2) {
    margin-left: 20px;
  }
  /* 로그인, 회원가입 */
  .join_wrap {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    line-height: 100px;
  }
  .join_box {
    display: none;
  }
  .all_menu {
    width: 70px;
    height: 100%;
  }
  /* 배너 영역 */
  .banner {
    height: 41.7vw;
  }
  .open_info_mo {
    display: none;
  }
  .open_main_text {
    font-size: 0.9vw;
  }
  .date_en {
    width: 70%;
    height: 30px;
    background: white;
    color: rgb(140, 176, 140);
    margin: 0 auto;
    line-height: 30px;
    margin-top: 4%;
    border-radius: 20px;
    font-size: 1.2vw;
  }
  .date_ko {
    font-size: 1vw;
    margin-top: 2%;
  }
  .time {
    font-size: 0.9vw;
    margin-top: 2%;
  }
  .o_info {
    font-size: 0.8vw;
    margin-top: 2%;
  }
  /* 섹션 영역 */
  .content_wrap {
    overflow: hidden;
  }
  .content {
    width: 95vw;
    margin: 0 auto;
    margin-top: 5.2vw;
  }
  /* 소개 영역 */
  /* 체험영역 */
  /* 관광안내 영역 */
  /* 관광안내 내용 */
  /* 축제 영역 */
  /* 이벤트 영역 */
  /* 푸터 영역 */
}
@media (max-width: 1024px) and (min-width: 1501px) and (max-width: 1700px) {
  .content {
    width: 85vw;
    transition-duration: 1s;
  }
}
@media (max-width: 1024px) and (min-width: 1023px) and (max-width: 1500px) {
  .content {
    width: 90vw;
    transition-duration: 1s;
  }
}
@media all and (max-width: 1024px) {
  .content_topic {
    width: 100%;
    height: 16.7%;
  }
  .topic {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: left;
    font-size: 1.8rem;
    padding: 1%;
    box-sizing: border-box;
    color: #333333;
  }
  .topic span {
    margin-left: 2%;
    letter-spacing: 3px;
    line-height: 185%;
    color: rgb(32, 93, 59);
  }
  .topic_detail {
    width: 100%;
    height: 50%;
    padding-left: 1.2%;
    box-sizing: border-box;
    color: #999999;
  }
  .content_con {
    width: 100%;
    position: relative;
  }
  .info_content {
    width: 100%;
  }
  .info_img_wrap {
    width: 30%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
  }
  .info_img_wrap > img {
    scale: 1.4;
    margin-top: 8%;
  }
  .info_text_wrap {
    width: 70%;
    right: 0;
    top: 0;
    text-align: center;
    padding: 2.5vw;
    box-sizing: border-box;
    background: rgba(198, 228, 255, 0.9058823529);
  }
  .info_main_text {
    color: rgb(42, 156, 133);
  }
  .info_sub_text {
    font-size: 1.5vw;
  }
  .ex_img_box {
    height: 40vw;
  }
  .ti_box_1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .ti_box_2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
  }
  .tour_info:hover .ti_box_1 {
    display: none;
  }
  .tour_info:hover .ti_box_2 {
    display: block;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 1px solid black;
    box-sizing: border-box; */
  }
  .swiper-slide img {
    display: block;
    /* width: 100%; */
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }
  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }
  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }
  /* .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 16px 20px rgb(32, 93, 59);
  } */
  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }
  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }
  .swiper[dir=rtl] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }
  .swiper[dir=rtl] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}
@media all and (max-width: 1024px) {
  footer {
    border-top: 1px solid rgb(189, 189, 189);
    box-sizing: border-box;
    color: #999999;
    display: flex;
    justify-content: left;
  }
  footer .footerInwrap {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  footer .footerInwrap .b_logo {
    width: 200px;
    height: 100%;
    padding: 2.8% 0.5%;
    box-sizing: border-box;
    filter: grayscale(1);
  }
  footer .footerInwrap .f_line_wrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
@media all and (max-width: 768px) {
  /* 헤더 영역 */
  header {
    height: 80px;
  }
  .main_logo {
    width: 180px;
    padding-left: 2%;
    padding-top: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 4%;
  }
  .menu_wrap {
    position: absolute;
    top: 50px;
  }
  .main_menu_wrap {
    display: none;
  }
  .main_menu {
    width: 20%;
    height: 100%;
    text-align: center;
    float: left;
  }
  /* 서브메뉴 영역 */
  .sub_menu_wrap {
    height: 0;
    position: absolute;
    left: 0;
    overflow: hidden;
    margin-top: 30px;
  }
  .menu_wrap:hover .sub_menu_wrap {
    height: calc(100vh - 80px);
    transition-duration: 1s;
  }
  .all_on {
    height: calc(100vh - 80px);
    transition-duration: 1s;
  }
  .sub_menu_top {
    width: 100%;
    height: 80%;
    /* padding: 1% 20%;
    box-sizing: border-box; */
    position: relative;
    display: inline-block;
  }
  .sub_menu_box {
    width: 100%;
    /* height: 10%; */
    height: auto;
    overflow: hidden;
    float: left;
    text-align: center;
    line-height: 50px;
    position: relative;
    z-index: 999;
  }
  .sub_menu_main {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: 700;
  }
  .sub_menu_inwrap {
    height: 0;
    overflow: hidden;
  }
  /* .sub_menu_main:hover .sub_menu_inwrap{
      height: 200px;
  } */
  .sub_menu {
    width: 100%;
    height: 50px;
  }
  .open_info_mo {
    display: block;
    width: 100%;
    height: 200px;
    text-align: center;
  }
  .open_main_text_mo {
    font-size: 2vw;
  }
  .date_en_mo {
    width: 60%;
    height: 30px;
    background: white;
    color: rgb(140, 176, 140);
    margin: 0 auto;
    line-height: 30px;
    margin-top: 3%;
    border-radius: 20px;
    font-size: 1.2vw;
  }
  .date_ko_mo {
    font-size: 1vw;
    margin-top: 2%;
  }
  .time_mo {
    font-size: 0.9vw;
    margin-top: 2%;
  }
  .o_info_mo {
    font-size: 0.8vw;
    margin-top: 2%;
  }
  /* 하위메뉴 영역 */
  .sub_menu_bottom {
    width: 100%;
    height: 300px;
    padding: 0 20%;
    box-sizing: border-box;
    border-top: 1px solid rgb(169, 169, 169);
    padding: 2% 10%;
    box-sizing: border-box;
  }
  .sub_img_box_wrap {
    display: flex;
    justify-content: left;
    height: 100px;
  }
  .sub_img_box {
    width: 25%;
    height: 100%;
    background: lightskyblue;
    /* float: left; */
    margin: 0 2%;
  }
  .sub_img_box:nth-child(1) {
    background: url(../images/market.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .sub_img_box:nth-child(2) {
    background: url(../images/market_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .sub_img_box:nth-child(3) {
    background: url(../images/healing.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .sub_img_box:nth-child(4) {
    background: url(../images/healing_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .sub_join_wrap {
    width: 226px;
    margin: -40px auto;
    height: 50px;
  }
  .sub_join_but {
    width: 100px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: none;
  }
  .sub_join_but:nth-child(2) {
    margin-left: 20px;
  }
  /* .bottom_box{
      width: 50%;
      height: 100%;
      background: wheat;
      float: left;
      padding: 3% 1%;
      box-sizing: border-box;
      position: relative;
  }
  .bb_img_box{
      width: 60%;
      height: 100%;
      background: blue;
      position: absolute;
      left: 0;
      overflow: hidden;
  }
  .bottom_box:nth-child(1) .bb_img_box{

  }
  .bottom_box:nth-child(2) .bb_img_box{

  }
  .bb_text_box{
      width: 40%;
      height: 100%;
      background: white;
      position: absolute;
      right: 0;
  } */
  /* 로그인, 회원가입 */
  .join_wrap {
    position: absolute;
    right: 20px;
  }
  .join_box {
    display: none;
  }
  .all_menu {
    width: 50px;
    height: 100%;
    font-size: 50px;
    line-height: 40px;
  }
  /* 배너 영역 */
  .banner {
    height: 93vw;
    background: thistle;
    margin: 0 auto;
    /* position: relative; */
    margin-bottom: 7.8%;
    background-image: url(../images/main_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 80px;
  }
  .open_info {
    /* width: 40.8%;
    height: 10.5%;
    background: rgb(140, 176, 140);
    position: absolute;
    right: 4%;
    bottom: 16%;
    text-align: center;
    color: white;
    padding: 1.5%;
    box-sizing: border-box; */
    display: none;
  }
  /* 섹션 영역 */
  .content_wrap {
    overflow: hidden;
  }
  .content {
    width: 98vw;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20vw;
  }
  /* 소개 영역 */
  /* 체험영역 */
  /* 관광안내 영역 */
  /* 관광안내 내용 */
  /* 축제 영역 */
  /* 이벤트 영역 */
  /* 푸터 영역 */
}
@media (max-width: 768px) and (min-width: 1501px) and (max-width: 1700px) {
  .content {
    width: 85vw;
    transition-duration: 1s;
  }
}
@media (max-width: 768px) and (min-width: 1023px) and (max-width: 1500px) {
  .content {
    width: 90vw;
    transition-duration: 1s;
  }
}
@media all and (max-width: 768px) {
  .content_topic {
    width: 100%;
  }
  .topic {
    width: 100%;
    font-size: 1.5rem;
    padding: 1%;
    box-sizing: border-box;
    color: #333333;
    display: block;
  }
  .topic span {
    margin-left: 2%;
    letter-spacing: 3px;
    line-height: 175%;
    color: rgb(32, 93, 59);
    display: block;
  }
  .topic_detail {
    width: 100%;
    padding-left: 1.2%;
    box-sizing: border-box;
    color: #999999;
    margin-top: 10px;
  }
  .content_con {
    width: 100%;
    margin-top: 20px;
  }
  .info_img_wrap {
    width: 50%;
    overflow: hidden;
    left: 0;
    top: 0;
  }
  .info_img_wrap > img {
    scale: 1.4;
    margin-top: 8%;
  }
  .info_text_wrap {
    width: 50%;
  }
  .info_main_text {
    color: rgb(42, 156, 133);
    font-size: 1.2rem;
  }
  .info_sub_text {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 768px) and (max-width: 540px) {
  .info_content {
    display: block;
    justify-content: center;
    flex-flow: column;
    padding: 20px 10px 0 10px;
    box-sizing: border-box;
    background-color: rgba(198, 228, 255, 0.9058823529);
  }
  .info_img_wrap {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .info_text_wrap {
    width: 100%;
  }
  .info_text_wrap .info_text_con {
    width: 100%;
    transform: translateY(0);
    position: relative;
  }
}
@media all and (max-width: 768px) {
  .ex_back {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: wrap;
    padding-top: 18vw;
  }
  .ex_box {
    width: 50%;
  }
  .tour_con {
    height: 170vw;
  }
  .tour_info_wrap {
    padding: 0 25px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 50%;
    margin: 0 auto;
  }
  .tour_info {
    /* border: 2px solid black;
    box-sizing: border-box; */
    position: relative;
  }
  .tour_info_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .tour_info_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .tour_info_3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .tour_info_4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .ti_box_1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
  }
  .ti_box_2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
  }
  .fes_con {
    padding: 0 25px;
    box-sizing: border-box;
    /* background: palegreen; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25%;
  }
  .fes {
    /* border: 1px solid black;
    box-sizing: border-box; */
    margin: 1.4% 0;
    overflow: hidden;
  }
  .fes img {
    scale: 1.17;
    margin-top: 12px;
  }
  .fes_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .fes_2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .fes_3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .fes_4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 1px solid black;
    box-sizing: border-box; */
  }
  .swiper-slide img {
    display: block;
    /* width: 100%; */
  }
}
@media only screen and (max-width: 768px) and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }
  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }
  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }
  /* .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 16px 20px rgb(32, 93, 59);
  } */
  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }
  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }
  .swiper[dir=rtl] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }
  .swiper[dir=rtl] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}
@media all and (max-width: 768px) {
  footer {
    border-top: 1px solid rgb(189, 189, 189);
    box-sizing: border-box;
    color: #999999;
  }
}/*# sourceMappingURL=hb.css.map */